*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

.width{
    width: 100%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.flex{
    display: flex;
}

.viewport{
    height: 100vh;
    background-color: black;
}

.right-top-20{
    top: 10px;
    right: 5px;
}

.main{
    height: 90%;
    padding-top: 45px;
    justify-content: space-between;
    flex-wrap: wrap;
 }

.container{
    width: 90%;
    margin: auto;
}

.card{
    width: 14%;
    height: 18%;
}

.footer{
    height: 10%;
    background-color: #222222;
}

.label{
    position: absolute;
    color: white;
    left: 0;
    bottom: 0;
    padding: 4px 6px;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer{
    justify-content: space-between;
    flex-direction: row;
}

.ft-left{
    align-self: center;
    padding-left: 10px;
}

.ft-center{
    align-self: center;
}

.ft-right{
    align-self: center;
    background-color: gray;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    align-items: center;
}

.footer i{
    color: white;
    font-size: 22px;
    margin-left: 5px;
    margin-right: 5px;
}

.white{
    color: white;
    
}

.font{
    font-size: 13px;
}

.margin-left-right{
    margin-left: 8px;
    margin-right: 8px;
}

.column{
    flex-direction: column;
    align-items: center;
}

.padding-span{
    padding: 13px 0;
}

.col{
    margin-left: 5px;
    margin-right: 5px;
}

.red-span{
    color: red;
}

.labels{
    padding: 4px 6px;
    background-color: rgba(120, 120, 120);
    border-radius: 5px;
}

.labels :first-child{
    margin-right: 5px;
}

.labels :first-child i{
    margin-right: 10px;
}

.green i{
    color: rgb(78, 255, 78);
}
